#cloud-config
hostname: {{ inventory_hostname }}
fqdn: {{ inventory_hostname }}
manage_resolv_conf: true

resolv_conf:
  nameservers: ['{{ nutanixnet.nameservers[0] }}', '{{ nutanixnet.nameservers[1] }}']
  options:
    rotate: true
    timeout: 1

write_files:
- path: /etc/sysconfig/network-scripts/ifcfg-eth0
  content: |
    DEVICE=eth0
    BOOTPROTO="none"
    NETMASK="255.255.255.0"
    IPADDR="{{ hostnameip.stdout_lines[0] }}"
    GATEWAY="{{ nutanixnet.gateway }}"
    ONBOOT="yes"
    PEERDNS="no"
{% if hostnamestorageip.stdout != "" %}
- path: /etc/sysconfig/network-scripts/ifcfg-eth1
  content: |
    DEVICE=eth1
    BOOTPROTO="none"
    NETMASK="255.255.255.0"
    IPADDR="{{ hostnamestorageip.stdout_lines[0] }}"
    ONBOOT="yes"
    PEERDNS="no"
{% endif %}
ssh_pwauth: true

chpasswd:
  list: |
    root:{{ password }}
  expire: false

runcmd:
- [ifdown, eth0]
- [ifup, eth0]
- [touch, /etc/cloud/cloud-init.disabled]
